

rule "{{ config.fragment }}_{{ config.action }}_{{ config.id }}_{{ value }}"
when
$s : SDMSituation(fragid == "{{ config.fragment }}", $d.distance(attributes,"{{config.id}}") {% if isLast %} >= {% else %} == {% endif %} {{ value }} )
then
$a.setDeltaInstance({{ instances }});
$a.setFragmentName("fragments_VideoTranscoder");
$a.setTopic("topology_adaptation.scale_in");
$a.setProcessed(true);
$a.setConfig({{  config.id }});
$a.setMatched("{{ config.fragment }}_{{ config.action }}_{{ config.id}}_{{ value }}");
end

