import gr.ntua.imu.prestocloud.rarecom.domain.SDMSituation
global gr.ntua.imu.prestocloud.rarecom.domain.ADFAction $a

rule "cpu_high_lresp_low_vt"
when
$s : SDMSituation(type=="cpu_high_lresp_low", fragid == "vt")
then

$a.setDeltaInstance("{{ instances }}");
$a.setFragmentName("fragments_VideoTranscoder");
$a.setTopic("topology_adaptation.scale_out");
$a.setProcessed(true);
end

