import gr.ntua.imu.prestocloud.rarecom.domain.SDMSituation
global gr.ntua.imu.prestocloud.rarecom.domain.ADFAction $a

rule "res_memory_fd"
when
$s : SDMSituation(type=="res_memory", fragid == "fd")
then
$a.setDeltaInstance("{{ instances }}");
$a.setFragmentName("fragments_FaceDetector");
$a.setTopic("topology_adaptation.scale_out");
$a.setProcessed(true);
end
