

rule "{{ config.fragment }}_{{ config.action }}_{{ config.id }}_{{ value }}"
when
$s : SDMSituation(fragid == "{{ config.fragment }}", arch== {{ value }} )
then
$a.setDeltaInstance({{ instances }});
$a.setFragmentName("{{ config.fragment }}");
$a.setTopic("{{ topic }}");
$a.setConfig({{  config.id }});
$a.setProcessed(true);
$a.setMatched("{{ config.fragment }}_{{ config.action }}_{{ config.id}}_{{ value }}");
end

